html, body {
  margin: 0;
  padding: 0;
  background: #555;
  height: 100%;
}

main{
  width: 75%;
  box-sizing: border-box;
  margin: 0 auto;
}

canvas {
  display: block;
  margin: 0 auto;
}

.container-score{
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#score{
  text-align: center;
  font-family: arial;
  outline: dashed 1px #f13333;
  color:#d7c9c9;
  font-size: larger;
}

.container-bestScore{
  float: right;
  width: 25%;
  outline: dashed 1px #716a6a;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  text-align: center; 
}

#bestScore{
  text-align: center;
  font-family: arial;
  outline: dashed 1px #716a6a;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}