.canvas-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto; 
  padding-top: 20px; 
}

/* Canvas */
canvas {
  position: absolute;
  top: 20px; 
  left: 0;
  z-index: 5; 
}

/* Eixo X */
#eixo-x {
  width: 100%;
  height: 3px;
  background-color: rgb(56, 54, 54);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; 
}

/* Setinha  do eixo X */
#eixo-x::after {
  content: '';
  position: absolute;
  right: -10px;
  top: -3px;
  border-left: 10px solid rgb(56, 54, 54);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

/* Eixo Y */
#eixo-y {
  width: 3px;
  height: 100%;
  background-color: rgb(51, 49, 49);
  position: absolute;
  top: 0;
  left: -10px;
  z-index: 10;
}

/* Setinha do eixo Y */
#eixo-y::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -3px;
  border-top: 10px solid rgb(51, 49, 49);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.rotulo {
  color: rgb(97, 27, 27);
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
}

#rotulo-width { top: -30px; left: 50%; transform: translateX(-50%); }
#rotulo-height { top: 50%; left: -80px; transform: translateY(-50%); }

.container-left{
  width: 50%;
  height: 50%;
  float: left;
}

.container-right{
  width: 50%;
  height: 50%;
  margin-left: 50%;
}

.container-arrows {
    font-family: arial;
    font-size: 100%;
    margin: 0% 0% 2% 15%;
    width: 20%;
    height: 10%;
    outline: dashed 1px black;
    text-align: center;
}

.container-rules {
  font-family: arial;
  font-size: 100%;
  margin: 0% 0% 0% 15%;
  width: 20%;
  height: 10%;
  outline: dashed 1px black;
  text-align: center;
}

.tombstone{
  width: 40%;
  height: 20%;
}

#score, #bestScore{
  text-align: center;
  font-family: arial;
  width: 30%;
  height: 10%;
  outline: dashed 1px black;
  margin: 2% 0% 0% 68%;
}